body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* Comentario no css */
/* Um outro comentário */

/* classes */
.paragrafo{
    background-color: #000000;
    color: aqua;
    padding: 20px;
}


/* ids */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}


/* ordem ds regras */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 2px solid blue;
}

#algum-titulo{
    border-bottom: 2px solid forestgreen;
}